body {
  background-color: hsl(195, 53%, 79%);
  color: hsla(0, 0%, 100%, 1);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
ul {
  padding-left: 25px;
}
li,
p {
  line-height: 1.5;
}
footer {
  letter-spacing: 1px;
  text-align: center;
}

.full-leaflet-tutorial a {
  color: hsl(82, 100%, 86%);
  text-decoration: none;
}
a:visited {
  color: hsl(82, 100%, 86%);
}
a:hover {
  text-decoration: underline;
}
a:active {
  font-weight: bold;
}

.icon-attribution {
  text-align: right;
}
.code {
  background-color: hsl(240, 72%, 18%);
  font-family: monospace;
  word-wrap: break-word;
}

.header-wrapper,
.menu-wrapper,
.chapter-one,
.chapter-two,
.chapter-three,
.chapter-four,
.chapter-five,
.chapter-six,
.footer-wrapper {
  padding: 12px;
}
.header-wrapper {
  background-color: hsl(120, 17%, 40%);
}
.menu-wrapper {
  background-color: hsl(78, 21%, 34%);
}
.chapter-one {
  background-color: hsl(284, 11%, 43%);
}
.chapter-two {
  background-color: hsl(9, 24%, 38%);
}
.chapter-three {
  background-color: hsl(153, 14%, 41%);
}
.chapter-four {
  background-color: hsl(284, 11%, 43%);
}
.chapter-five {
  background-color: hsl(78, 21%, 34%);
}
.chapter-six {
  background-color: hsl(153, 14%, 41%);
}
.footer-wrapper {
  background-color: hsl(9, 24%, 38%);
}
.inset-wrapper {
  margin: 0 auto;
  width: clamp(350px, 75%, 1000px);
}
.menu-wrapper a,
.chapter-five a,
.menu-wrapper:visited a,
.chapter-five:visited a {
  color: hsl(82deg 100% 92%);
}

button.jump-to-map {
  background-color: hsl(195deg 53% 39%);
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
}
button.jump-to-map a {
  color: hsl(0, 0%, 100%);
}

button.back-to-top {
  background-color: hsl(284, 11%, 43%);
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  margin: 15px 0;
  padding: 12px;
  font-weight: bold;
}
button.back-to-top a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.button-wrapper {
  text-align: center;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

#leaflet-map {
  height: 75vh;
  width: 100%;
}
#coordinates {
  background-color: hsla(240, 100%, 47%, 0.4);
  border-radius: 3px;
  color: hsl(0, 0%, 100%);
  margin-left: 45px;
  padding: 0 3px;
}
.leaflet-container a,
.icon-attribution a {
  color: hsl(240, 100%, 50%);
}

.leaflet-container a.leaflet-popup-close-button {
  color: hsl(0, 0%, 100%);
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: hsl(0, 0%, 100%);
}
.icon-attribution a {
  color: hsl(240, 100%, 50%);
}
.icon-attribution a {
  text-decoration: none;
}
.leaflet-control-geocoder-address-context {
  color: hsl(0deg 0% 75%);
}

@media only screen and (max-width: 480px) {
  ol {
    padding-left: 15px;
  }
  a {
    word-wrap: break-word;
  }
  .inset-wrapper {
    width: 100%;
  }
}
