/* General styling and formatting of Tutorial's text */

body {
  background-color: hsl(195, 53%, 79%);
  color: hsla(0, 0%, 100%, 1);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

ul {
  padding-left: 25px;
}

p,
li {
  line-height: 1.5;
}

li {
  padding-bottom: 8px;
}

footer {
  font-weight: bold;
  text-align: center;
}

/* Color of links chosen with appropriate contrast ratios on par with standard accessibility guidelines */

.full-leaflet-tutorial a {
  color: hsl(82, 100%, 86%);
  text-decoration: none;
}
a:visited {
  color: hsl(82, 100%, 86%);
}
a:hover {
  text-decoration: underline;
}
a:active {
  font-weight: bold;
}

/* This ruleset acts as a utility class to format lines of instructional code in the Tutorial  */
.code {
  background-color: hsl(240, 72%, 18%);
  font-family: monospace;
  font-size: 16px;
  word-wrap: break-word;
  padding: 0 4px;
}

/* These rule sets format the spacing and background colors of each section of the Tutorial */
.header-wrapper,
.menu-wrapper,
.chapter-one,
.chapter-two,
.chapter-three,
.chapter-four,
.chapter-five,
.chapter-six,
.footer-wrapper {
  padding: 12px;
}
.header-wrapper {
  background-color: hsl(120, 17%, 40%);
}
.menu-wrapper {
  background-color: hsl(78, 21%, 34%);
}
.chapter-one {
  background-color: hsl(284, 11%, 43%);
}
.chapter-two {
  background-color: hsl(9, 24%, 38%);
}
.chapter-three {
  background-color: hsl(153, 14%, 41%);
}
.chapter-four {
  background-color: hsl(284, 11%, 43%);
}
.chapter-five {
  background-color: hsl(78, 21%, 34%);
}
.chapter-six {
  background-color: hsl(153, 14%, 41%);
}
.footer-wrapper {
  background-color: hsl(9, 24%, 38%);
}
.inset-wrapper {
  margin: 0 auto;
  width: clamp(350px, 75%, 1000px);
}

/* This rule set heightens the contrast ratio between links and the background colors of certain sections to improve accessibility */
.menu-wrapper a,
.chapter-five a,
.menu-wrapper:visited a,
.chapter-five:visited a {
  color: hsl(82deg 100% 92%);
}

/* These rule sets style the Tutorial's "jump to" buttons */
.button-wrapper {
  text-align: center;
}

button.jump-to-map {
  background-color: hsl(195deg 53% 39%);
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  font-weight: bold;
  padding: 12px;
}

button.jump-to-map a {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}

button.back-to-top {
  background-color: hsl(284, 11%, 43%);
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 8px;
  font-weight: bold;
  margin: 15px 0;
  padding: 12px;
}

button.back-to-top a {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  text-decoration: none;
}

button.jump-to-map a:hover,
button.back-to-top a:hover {
  text-decoration: none;
}

button.jump-to-map:active {
  background-color: hsl(195deg 53% 35%);
  transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
}
button.back-to-top:active {
  background-color: hsl(284, 11%, 39%);
  transform: translate(1px, 1px);
  -moz-transform: translate(1px, 1px);
}

/* IMPORTANT: Specification of both height and width is essential to initializing the map */
#leaflet-map {
  height: 75vh;
  width: 100%;
}

/* This rule set styles the coordinates in the top-left corner of the map */
#coordinates {
  background-color: hsla(240, 100%, 47%, 0.4);
  border-radius: 3px;
  color: hsl(0, 0%, 100%);
  margin-left: 45px;
  padding: 0 3px;
}

/* These rule sets overwrite Leaflet's classes to override the default styles (on containers, pop-ups, pop-up tips, buttons, links) */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
.leaflet-container a,
.icon-attribution a {
  color: hsl(240, 100%, 50%);
}

.leaflet-container a.leaflet-popup-close-button {
  color: hsl(0, 0%, 100%);
}
.leaflet-container a.leaflet-popup-close-button:hover {
  color: hsl(0, 0%, 100%);
}

/* These rule sets style the attribution (directly under the map) for the customized icon */
.icon-attribution {
  padding-right: 5px;
  text-align: right;
}
.icon-attribution a {
  color: hsl(240, 100%, 50%);
}
.icon-attribution a {
  text-decoration: none;
}

/* Overwrites the geogoder's class(es) to override the default style(s) */
.leaflet-control-geocoder-address-context {
  color: hsl(0deg 0% 75%);
}

/* Media query for responsive styling on devices with smaller screens */
@media only screen and (max-width: 480px) {
  ol {
    padding-left: 15px;
  }
  a {
    word-wrap: break-word;
  }
  .inset-wrapper {
    width: 100%;
  }
}
