body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  padding-left: 25px;
}
li,
p {
  line-height: 1.5;
}
footer {
  letter-spacing: 1px;
  text-align: center;
}
footer p {
  font-weight: bold;
}

a {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: blue;
}
a:hover {
  text-decoration: underline;
}
a:active {
  font-weight: bold;
}
hr {
  border-top: 1px solid hsl(174deg 73% 19%);
}
.icon-attribution {
  text-align: right;
}
.code {
  background-color: lavender;
  word-wrap: break-word;
  font-family: monospace;
}

.header-wrapper {
  background-color: green;
}
.header-wrapper,
.chapter-one,
.chapter-two,
.chapter-three,
.chapter-four,
.chapter-five,
.chapter-six,
.footer-wrapper {
  padding: 12px;
}
.chapter-one {
  background-color: salmon;
}
.chapter-two {
  background-color: yellow;
}
.chapter-three {
  background-color: orange;
}
.chapter-four {
  background-color: lightblue;
}
.chapter-five {
  background-color: violet;
}
.chapter-six {
  background-color: goldenrod;
}
.footer-wrapper {
  background-color: red;
}
.inset-wrapper {
  margin: 0 auto;
  width: clamp(350px, 75%, 1000px);
}

button.back-to-top {
  background-color: mintcream;
  border: 1px solid hsl(174deg 73% 19%);
  border-radius: 8px;
  margin-top: 15px;
  padding: 10px;
}
button.back-to-top a {
  text-decoration: none;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: black;
  color: white;
}

#leaflet-map {
  height: 75vh;
  width: 100%;
}
#coordinates {
  background-color: hsla(240, 100%, 47%, 0.4);
  border-radius: 3px;
  color: white;
  margin-left: 45px;
  padding: 0 3px;
}
@media only screen and (max-width: 480px) {
  ol {
    padding-left: 15px;
  }
  .inset-wrapper {
    width: 100%;
  }
  a {
    word-wrap: break-word;
  }
}
